@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply text-text
    }

    :focus:is(input, select, textarea) {
        outline: none;
    }

    .container {
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }

    html {
        scroll-behavior: smooth;
    }
}