<body>
    <div style="width: 100%; border-radius: 8px; background-color: aliceblue">
        <table>
            <td>
                <p
                    style="
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: bisque;
                    "
                ></p>
            </td>
            <td>
                <p><%= user.fname %> <%= user.lname %></p>
                <p><%= user.email %></p>
            </td>
        </table>

        <div><%= text %></div>
    </div>
</body>
